
<div class="container text-center padded">
 <div class="row">
   <div class="col-xs-12 col-sm-offset-4 col-sm-4">
     <h2>Add a Restaurant:</h2>
   </div>
 </div>
</div>


<div class="container text-center">
 <div class="row">
   <div class="col-xs-12 col-sm-offset-4 col-sm-4">
     <%= render 'form' %>
     <p class="padded"><%= link_to "Back to Home", restaurants_path %></p>
   </div>
 </div>
</div>
